.header-top .navbar-brand {
    font-family: cursive;

}

nav .header-top {
    padding: 0 2rem 0 5rem;
}

nav .navbar-nav .nav-link {
    font-family: fantasy;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.1rem; 
    margin-right: 10%;
}

.meta-tbl {
    margin: 3% 10% 10% 10%;
    border: 1px solid brown;
    border-radius: 50%;
}



table .nest {
    border: 1px solid black;
}